.contents__messages{data: {contents__message: {id: message.id}}}
  .contents__messages__chat1
    = message.user.name
    .contents__messages__date1
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .contents__messages__message1
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?