.side
  .side__Top
    .side__icon
      masa
      = link_to "#", class: "side__btn" do
        = icon('fas', 'edit',  class: "side__btn__icon0")
        = icon('fas', 'cog',  class: "side__btn__icon1")
  .side__group
    .side__test
      test
      .side__member
        member