* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  .wrapper {
    height: 100%;
    display: flex;
    .side {
      background-color: #2f3e51;
      width: 300px;
      &__Top{
        height: 100px;
        width: 300px;
        background-color: #253141;
        @include center;
      }
        &__icon{
          height: 20px;
          width: 300px;
          margin-left: 20px;
          display: flex;
          color: $white-color;
        }
          &__btn{
            text-decoration: none;
            color: $white-color;
            text-align: right;
              &__icon0{
                margin-left: 160px;
                color: $white-color;
              }
              &__icon1{
                margin-left: 5px;

              }
          }
        &__ber{
          width: 100%;
          .group{
            a {          
              text-decoration: none;
            }
              &__name{
                margin: 35px 0px 0px 20px;
                color: $white-color;
                font-size: 20px;
              }
              &__message{
                font-size: 12px;
                color: $gray-color;
                margin: 15px 0 0 20px
              }
          }
        }
    }
    .contents {
      background-color: #fafafa;
      position: relative;
      width: 100%;
      &__Top{
        width: calc(100vw - 300px);
      }
        &__group{
          height: 100px;
          display: flex;
          justify-content: space-between;
          background-color: $white-color;
        }
          &__group-name{
            font-size: 20px;
            color: #333333;
            margin: 35px 0px 0px 40px;
          }
            &__member{
              font-size: 12px;
              color: $gray-color;
              margin-top: 15px;
            }
          &__edit{
            height: 40px;
            width: 72px;
            color: $akua-color;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            margin: 28px 30px 20px 20px;
            border: solid 3px $akua-color;
          }
            &__btn{
              text-decoration: none;
              color: $akua-color;
            }
      &__main{
        height: calc(100% - 200px);
        width: 100%;
        overflow: scroll;
      }
        &__messages{
          height: 200px;
          &__chat1{
            @include chat;
          }
            &__date1{
              @include date;
            }
          &__message1{
            @include message;
          }
            img.lower-message__image{
              height: 150px;
            } 
        }
      &__down{
        height: 100px;
        width: calc(100vw - 300px);
        background-color: $white-color;
      }
        &__form{
          .new_message{
            height: 100px;
            line-height: 100px;
            @include center;
            .input-form{
              position: absolute;
              &__text{
                height: 50px;
                width: 600px;
                position: relative;
              }
                &__label{
                  height: 50px;
                  width: 50px;
                  display: flex;
                  position: absolute;
                }
                  &__icon{
                    color: darkgray;
                    text-align: center;
                    line-height: 50px;
                    font-size: 30px;
                    margin-left: 230px;
                  }
                  &__file{
                    display: none;
                  }
                  
                &__submit{
                  position: relative;
                  height: 50px;
                  width: 100px;
                  background-color: $akua-color;
                  margin-left: 15px;
                }
          } 
        }
      }
    }
  }
}